main section{
    margin-bottom: 1.2rem;
}
section h2{
    margin-bottom: .8rem;
}

#bg-container img{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.5s;
}

#img-1{
    left: 0;
}

#img-2{
    left: 0;
}

img.sumiu{
    opacity: 0;
}