main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 50%;
}
main section{
    padding: 2rem;
    grid-column: 2/3;
}

p a{
    font-weight: 700;
    color: var(--blue-sapphire);
    font-size: 1.2rem;
}
p a:hover{
    color: var(--cyan-process);
}

main aside{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1 /3;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside img{
    margin: 2rem auto;
    width: 80%;
}
section p{
    text-align: justify;
    margin: 10px 5px;
    line-height: 2rem;
}
@media (max-width: 750px) {
    main{
        display: block;
    }
    aside img{
        display: none;
    }
}